@model List<CooperativeAccounting.Models.Entities.Transaction>
@{
    Layout = "_Layout";
}

@section Css{
    <link href="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="~/Dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Dashboard/css/colors/blue.css" id="theme" rel="stylesheet">
}

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Transaction</h4>
            </div>
            @using (Html.BeginForm("Delete", "Transaction"))
            {
                <input type="hidden" id="id" name="id"/>
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the Transaction?
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash"/>
                    <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left"/>
                </div>
            }
        </div>
    </div>
</div>


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Manage Transaction(s)</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Transaction")">Transactions</a>
            </li>
            <li>
                <a href="@Url.Action("Create", "Transaction")">Add Transaction</a>
            </li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="@Url.Action("Create", "Transaction")" class="btn btn-primary" data-toggle="tooltip" title="Add New Transaction">
                Add New
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">General Ledger</h3>
            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
            <div class="table-responsive">
                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th style="color: red">DR</th>
                        <th style="color: red">Date</th>
                        <th style="color: red">Narration</th>
                        <th style="color: red">Member</th>
                        <th style="color: red">Amount</th>
                        @*<th style="color: red">V.No</th>*@
                        <th></th>
                        <th style="color: green">CR</th>
                        <th style="color: green">Date</th>
                        <th style="color: green">Narration</th>
                        <th style="color: green">Member</th>
                        <th style="color: green">Amount</th>
                        @*<th style="color: green">V.No</th>*@
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.OrderByDescending(n => n.DateCreated).ToList())
                        {
                            <tr>
                                @if (item.TransactionType.Debit || item.TransactionType.Loan)
                                {
                                    <th style="color: red">Debit</th>
                                    <td style="color: red">@item.TransactionDate</td>
                                    <td style="color: red">@item.TransactionName</td>
                                    <td style="color: red">@item.AppUser.Name</td>
                                    <td style="color: red">@(string.Format("{0:n0}", item.Amount))</td>
                                    @*<td style="color: red">@item.VoucherNumber</td>*@
                                    <td></td>
                                    <td style="color: green">NIL</td>
                                    <td style="color: green">NIL</td>
                                    <td style="color: green">NIL</td>
                                    <td style="color: green">NIL</td>
                                    <td style="color: green">NIL</td>
                                    @*<td style="color: green">NIL</td>*@
                                }
                                @if (item.TransactionType.Credit)
                                {
                                    <th style="color: red">NIL</th>
                                    <td style="color: red">NIL</td>
                                    <td style="color: red">NIL</td>
                                    <td style="color: red">NIL</td>
                                    <td style="color: red">NIL</td>
                                    @*<td style="color: red">NIL</td>*@
                                    <td></td>
                                    <td style="color: green">Credit</td>
                                    <td style="color: green">@item.TransactionDate</td>
                                    <td style="color: green">@item.TransactionName</td>
                                    <td style="color: green">@item.AppUser.Name</td>
                                    <td style="color: green">@(string.Format("{0:n0}", item.Amount))</td>
                                    @*<td style="color: green">@item.VoucherNumber</td>*@
                                }
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
}

@section Functions {
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function() { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
    <script>
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}