@using System.Globalization
@model List<CooperativeAccounting.Models.Entities.AppUser>
@{
    Layout = "_Layout";
}

@section Css{
    <link href="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="~/Dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Dashboard/css/colors/blue.css" id="theme" rel="stylesheet">
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Manage Cash Contribution(s) for @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month), @DateTime.Now.Year</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Transaction")">Transactions</a>
            </li>
            <li>
                <a href="@Url.Action("CashContribution", "Transaction")">Cash Contributions</a>
            </li>
        </ol>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Pay Cash Contribution Transactions for @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month), @DateTime.Now.Year</h3>
            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
        @using (Html.BeginForm("PayCashContribution", "Transaction", FormMethod.Post, new {enctype = "multipart/form-data", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="table-responsive">
                <input type="submit" value="Collect Contribution" class="btn btn-primary pull-right"/>
                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th style="color: green"> <input type="checkbox" class="fxhdr" id="checkAll" /></th>
                        <th style="color: green">Narration</th>
                        <th style="color: green">Member</th>
                        <th style="color: green">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.OrderByDescending(n => n.DateCreated).ToList())
                        {
                        <tr>
                            <td> <input type="checkbox" class="checkbox" name="table_records" value="@item.AppUserId" /></td>
                            <td style="color: green">Monthly Contribution</td>
                            <td style="color: green">@item.Name</td>
                            <td style="color: green">@(string.Format("{0:n0}", item.MonthlyContribution))</td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
}

@section Functions {
    <script>
        $(document).ready(function() {
            $(".loadModal3").click(function() { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
    <script>
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
    <script>
        $(".checkAll").on('change',
            function() {
                $(".checkbox").prop('checked', $(this).is(":checked"));
            });
    </script>
}