@using CooperativeAccounting.Models.Entities
@model List<CooperativeAccounting.Models.Entities.AppUser>
@{
    Layout = "_Layout";
    List<Transaction> transactions = ViewBag.Transactions;

}
@section Css{ 
    <link href="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/Dashboard/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Dashboard/css/colors/blue.css" id="theme" rel="stylesheet">
}
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Member</h4>
            </div>@using (Html.BeginForm("Delete", "AppUser"))
            {
                <input type="hidden" id="id" name="id" />
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the Member?
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash" />
                    <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                </div>
            }
        </div>
    </div>
</div>


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Manage Member(s)</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Members</a></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="@Url.Action("Create", "AppUser")" class="btn btn-primary" data-toggle="tooltip" title="Add Member">
                Add New
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">List of all Members</h3>
            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
            <div class="table-responsive">
                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Date Joined</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        @*<th>Available Balance</th>*@
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                         {
                             <tr>
                                 <td></td>
                                 <td>@item.DateCreated.ToString("D")</td>
                                 <td>@item.Name</td>
                                 <td>@item.Email</td>
                                 <td>@item.Mobile</td>
                                 @*<td>
                                     @if (transactions != null)
                                     {
                                         @(transactions.Where(n => n.AppUserId == item.AppUserId && n.TransactionType.Credit).Sum(n => n.Amount) - transactions.Where(n => n.AppUserId == item.AppUserId && n.TransactionType.Debit).Sum(n => n.Amount))
                                     }
                                 </td>*@
                                 <td class="text-center">
                                     <div class="btn-group">
                                         <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                             Actions
                                             <i class="fa fa-angle-down"></i>
                                         </button>
                                         <ul class="dropdown-menu pull-right" role="menu">
                                             <li>
                                                 <a href="@Url.Action("Edit", "AppUser", new {id = item.AppUserId})" data-toggle="tooltip" title="View Deatils & Edit the Account Type">
                                                     <i class="icon-docs"></i>View Details & Edit Member
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="@Url.Action("PersonalLedger", "Transaction", new {id = item.AppUserId})" data-toggle="tooltip" title="View Personal Ledger">
                                                     <i class="icon-docs"></i>View Personal Ledger
                                                 </a>
                                             </li>
                                             <li>
                                                 <a href="#" data-toggle="tooltip" title="Delete the Account Type" data-id="@item.AppUserId" data-toggle="modal" class="loadModal3">
                                                     <i class="icon-tag"></i>Delete Member
                                                 </a>
                                             </li>
                                         </ul>
                                     </div>
                                 </td>
                             </tr>
                         }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Dashboard/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
}

@section Functions {
    <script>
        $(document).ready(function () {
            $(".loadModal3").click(function () { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $('#myModal1').modal('show');
            });
        });
    </script>
    <script>
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}
