@model CooperativeAccounting.Models.Entities.AppTransport
@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">My Dashboard</h4>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="row row-in">
                <a href="@Url.Action("Index", "Transaction")" class="col-lg-4 col-sm-6 row-in-br">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic fa fa-money"></i>
                            <h5 class="text-muted vb">Current Balance</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h4 class="counter text-right m-t-15 text-success">&#8358
                            @(string.Format("{0:n0}",Model?.CurrentBalance))</h4>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "AppUser")" class="col-lg-4 col-sm-6 row-in-br">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic fa fa-users"></i>
                            <h5 class="text-muted vb">Cooperative Members</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h4 class="counter text-right m-t-15 text-danger">
                                @Model?.AppUsers.Count
                            </h4>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "Transaction")" class="col-lg-4 col-sm-6 row-in-br  b-r-none">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic fa fa-briefcase"></i>
                            <h5 class="text-muted vb">Volume of Transactions</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h4 class="counter text-right m-t-15 text-megna">
                                @Model?.Transactions.Count
                            </h4>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </a>
                <a href="@Url.Action("CashBook", "Transaction")" class="col-lg-4 col-sm-6 row-in-br">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic fa fa-money"></i>
                            <h5 class="text-muted vb">Total Cash Contributions</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h4 class="counter text-right m-t-15 text-primary">
                                &#8358
                                @(string.Format("{0:n0}", Model?.Transactions.Where(n => n.TransactionType.Cash && n.TransactionType.Credit).ToList().Sum(n => n.Amount)))
                            </h4>

                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">

                        </div>
                    </div>
                </a>
                <a href="@Url.Action("CashBook", "Transaction")" class="col-lg-4 col-sm-6 row-in-br">
                    <div class="col-in row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic fa fa-money"></i>
                            <h5 class="text-muted vb">Total Cash Deductions</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h4 class="counter text-right m-t-15 text-primary">
                                &#8358
                                @(string.Format("{0:n0}", @Model?.Transactions.Where(n => n.TransactionType.Cash && n.TransactionType.Debit).ToList().Sum(n => n.Amount)))
                            </h4>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--row -->